.parcelas-container {
    display: flex;
    flex-direction: column;
    /* Organiza as parcelas em colunas */
    gap: 10px;
    /* Espaçamento entre as parcelas */
}

.parcela {
    display: flex; /* Define o layout como flexível */
    justify-content: space-between; /* Distribui os elementos igualmente ao longo da linha */
    align-items: center; /* Centraliza os elementos verticalmente */
    gap: 10px; /* Adiciona um espaçamento entre os elementos */
    border: 1px solid #ddd; /* Adiciona uma borda sutil */
    padding: 10px; /* Adiciona um espaçamento interno */
    border-radius: 5px; /* Arredonda os cantos da borda */
    background-color: #f9f9f9; /* Adiciona um fundo claro para melhorar a visibilidade */
    margin-bottom: 10px; /* Adiciona um espaçamento entre as parcelas */
}

.parcela span {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Alinha os inputs e labels no centro */
    gap: 5px;
}

.parcela label {
    font-size: 12px;
}

#form-parcelas > *{
    margin-bottom: 10px; /* Adiciona um espaçamento de 10px abaixo de cada elemento */
}

