
#vincula-produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Duas colunas */
    gap: 20px;
    /* Espaçamento entre os elementos */
    width: 100%;
    position: relative;
}
  
.input-pesquisa-produto {
    padding: 6px; /* Diminuir o padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ocupa toda a largura disponível */
    font-size: 14px; /* Ajustar o tamanho da fonte */
  }